$bg-color: #fdf8f2;

$dark-grey: #211f1f;

$dark-blue: #101828;

$light-grey: #667085;

$very-light-grey: #f2f4f7;

$yellow-color: #fed501;

$green-color: #a4c14d;

$blue-color: #007cc2;

$orange-color: #ff5d37;
