.accordion-item {
    cursor: pointer;
    padding: 10px;
    background: #eee;
    margin-top: 5px;
}

.accordion-content-wrapper {
    overflow: hidden;
    transition: height 0.3s ease;
}

.accordion-content {
    padding: 10px;
    background: #fafafa;
    border-left: 3px solid #ccc;
}