$header-bg-color: #183e54;

$navlink-text-color: #353535;

$section-title-text-color: #0f1747;

$button-filled-bg-color: #109932;

$button-outlined-border-color: #183e54;
$button-outlined-text-color: #183e54;
