$header-bg-color: #183E54;

$navlink-text-color: #353535;

$section-title-text-color: #0F1747;

$button-filled-bg-color: #109932;

$button-outlined-border-color: #109932;
$button-outlined-text-color: #109932;