@use "_variables.scss" as *;
@use "_mixins.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --header-height: auto;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "DM Sans", sans-serif;
}

// DEFAULT CLASSES FOR COMPONENTS-------------------------------------
section {
  padding: 14px;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: $section-title-text-color;
  text-align: center;
}

.section-description {
  max-width: 430px;
  font-size: 1rem;
  font-weight: 400;
  color: black;
  text-align: center;
}

// BUTTONS
.base-btn {
  padding: 9px 18px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  min-width: 95px;
}

.filled-btn {
  @extend .base-btn;
  background-color: $button-filled-bg-color;
  color: white;
}

.outlined-btn {
  @extend .base-btn;
  background-color: transparent;
  border: 1px solid $button-outlined-border-color;
  color: $button-outlined-text-color;
}

.btn-group {
  @include flex(row, space-between, center, 30px);
}

// -------------------------------------------------------------------

.header {
  width: 100%;

  &-top {
    @include flex(row, flex-start, center, 30px);
    background-color: $header-bg-color;
    padding: 22px 60px;

    &-logo {
      width: 188px;
    }

    &-contact {
      font-size: 1rem;
      color: white;
    }

    &-flag {
      margin-left: auto;
      width: 28px;
      height: 28px;
      object-fit: cover;
      object-position: center;
    }

    &-search {
      font-size: 27px;
      color: white;
    }

    &-hamburger {
      font-size: 27px;
      color: white;
    }
  }

  &-bottom {
    @include flex(row, space-between, center, 0);
    padding: 26px 60px;

    &-nav {
      list-style-type: none;
      @include flex(row, flex-start, center, 30px);

      li a {
        font-size: 1rem;
        color: $navlink-text-color;
        text-decoration: none;
        list-style: none;
        font-weight: 500;
      }
    }

    &-search-container {
      position: relative;
      i {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        font-size: 18px;
        color: #c0c0c0;
      }

      input {
        width: 390px;
        padding: 13px 16px 13px 48px;
        border-radius: 999px;
        background-color: #f5f5f5;
        border: none;
        font-size: 1.1rem;
      }

      input::placeholder {
        color: #c0c0c0;
      }
    }
  }
}

.hero-section {
  width: 100%;
  height: calc(100vh - var(--header-height));
  background-image: url("../assets/header-banner.png");
  background-size: cover;
  background-position: center;
  position: relative;

  img {
    width: 49px;
    height: 49px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    bottom: 30px;
    right: 60px;
  }
}

.main-section {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  gap: 14px;
  grid-template-areas:
    "section-1 section-1"
    "section-2 section-3"
    "section-4 section-4"
    "section-5 section-6";

  .section {
    @include flex(column, center, center, 30px);
    padding: 90px;

    img {
      border-radius: 20px;
      aspect-ratio: 2/1;
      width: 55%;
      object-fit: cover;
      object-position: center;
    }
  }
  .section-1 {
    background: linear-gradient(#6190e833, #a7bfe81a);
    grid-area: section-1;
  }
  .section-2 {
    background: linear-gradient(#6190e833, #a7bfe81a);
    grid-area: section-2;

    img {
      width: 100%;
    }
  }
  .section-3 {
    background: linear-gradient(#6190e833, #a7bfe81a);
    grid-area: section-3;

    img {
      width: 100%;
    }
  }
  .section-4 {
    background: linear-gradient(#6190e833, #a7bfe81a);
    grid-area: section-4;
  }
  .section-5 {
    background: linear-gradient(#6190e833, #a7bfe81a);
    grid-area: section-5;

    img {
      width: 100%;
    }
  }
  .section-6 {
    background: linear-gradient(#6190e833, #a7bfe81a);
    grid-area: section-6;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 14px;
  }

  .header {
    &-top {
      padding: 44px 16px;

      &-contact {
        display: none;
      }

      &-contact {
        display: none;
      }

      .btn-group {
        display: none;
      }
    }

    &-bottom {
      display: none;
    }
  }

  .hero-section {
    img {
      display: none;
    }
  }

  .main-section {
    grid-template-areas:
      "section-1"
      "section-2"
      "section-3"
      "section-4"
      "section-5"
      "section-6";

    .section {
      padding: 60px 34px 40px 34px;

      img {
        width: 90%;
      }
    }
  }
}
