* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.25s ease;
}

body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.my-draggable-element {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.draggable-drop-zone {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
