* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    min-height: 100vh;
    transition: all 0.3s ease;
}

.light {
    background: white;
    color: black;
}

.dark {
    background: #222;
    color: white;
}

a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}

nav {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

