.product-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.product-card {
  width: 220px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
}

.product-card img {
  width: 100%;
  border-radius: 8px;
}

.add-btn {
  padding: 10px;
  width: 100%;
  background: green;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.disabled-btn {
  padding: 10px;
  width: 100%;
  background: gray;
  color: white;
  border: none;
  border-radius: 6px;
}
