* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #7da7d9, #b9d3ee);
}


.weather-app {
    width: 300px;
    padding: 25px;
    text-align: center;
    color: #fff;
}


h1 {
    margin-bottom: 20px;
    font-size: 26px;
}


input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    font-size: 16px;
}


.city {
    font-size: 22px;
    margin-top: 10px;
}


.temp {
    font-size: 36px;
    margin: 10px 0;
}


.desc {
    font-size: 18px;
    text-transform: capitalize;
}


.btn {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: #fff;
}