.registration-form {
  width: fit-content;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid black;

  input {
    padding: 0.5rem;
    width: 100%;
  }

  .showPasswordDiv {
    align-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    input[type="checkbox"] {
      width: 20px;
      height: 20px;
    }
    margin-bottom: 2rem;
  }

  .invalid-validation-text {
    margin: 0;
    padding: 0;
    color: red;
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
    align-self: flex-start;
  }
}
